In [1]:
#QUESTIONS:
1 # write a python proggrame to point a table from 2 to 20:
2 # write a python proggrame to point a table from 1a,1b,1c, 2a,2b,2c, 3a,3b,3c, 4a,4b,4c using for loop:
3 # print all possible combination of outcomes for 2 dice roll/fair & unbiused:
4 # print A,A B, A B C, A B C D pyramid:
5 # print 1 ,1 2,1 2 3,1 2 3 4 5 pyramid:
6 # print 5 4 3 2,5 4 3,5 4,5 pyramid:
7 # print *, * *, * * *, * * * * pyramid:
8 # print *, * * *, * * * * *, * * * * * * * pyramid:
9 # print 1, 1 2 3, 1 2 3 4 5, 1 2 3 4 5 6 7 pryamid:
10 # print A, A B C, A B C D, A B C D E F G pryamid:
11 # print 1, 1 1, 1 2 1, 1 3 3 1, 1 4 6 4 1, 1 5 10 10 5 1 pryamid:
12 # print Factorial of a number:
13 # print 1 2 3 4 5  3 2 1, 2 3 4 5 4 3 2, 3 4 5 4 3, 4 5 4, 5 pryamid:
14 # print 1, 1 2 1, 1 2 3 2 1, 1 2 3 4 3 2 1, 1 2 3 4 5 4 3 2 1 pryamid:

14

In [2]:
#ANSWER 1:
# Multiplication tables from 2 to 20

for i in range(2, 21):  # Loop for tables 2 to 20
    print(i)
    for j in range(1, 11):  # Each table up to 10
        print(f"{i} x {j} = {i * j}")

2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110
12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150
16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160
17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170
18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [3]:
#ANSWER 2:
# Printing a table with labels like 1a, 1b, 1c ... 4a, 4b, 4c

# Outer loop for numbers
for i in range(1, 5):   # 1 to 4

    # Inner loop for letters
    for j in ['a', 'b', 'c']:
        print(f"{i}{j}", end="  ")
    print()

1a  1b  1c
2a  2b  2c
3a  3b  3c
4a  4b  4c

In [4]:
#ANSWER 3:
# All possible outcomes of rolling 2 dice

for i in range(1, 7):       # First dice (1–6)
    for j in range(1, 7):   # Second dice (1–6)
        print(f"({i}, {j})",end="  ")
    print()

(1, 1)  (1, 2)  (1, 3)  (1, 4)  (1, 5)  (1, 6)
(2, 1)  (2, 2)  (2, 3)  (2, 4)  (2, 5)  (2, 6)
(3, 1)  (3, 2)  (3, 3)  (3, 4)  (3, 5)  (3, 6)
(4, 1)  (4, 2)  (4, 3)  (4, 4)  (4, 5)  (4, 6)
(5, 1)  (5, 2)  (5, 3)  (5, 4)  (5, 5)  (5, 6)
(6, 1)  (6, 2)  (6, 3)  (6, 4)  (6, 5)  (6, 6)

In [5]:
#ANSWER 4:
# Alphabet Pyramid

n = 5  # number of rows
for i in range (1, n + 1):
    char = "A"
    for j in range(i):
        print(char, end="  ")
        char = chr(ord(char) + 1)
    print()

A
A  B
A  B  C
A  B  C  D
A  B  C  D  E

In [6]:
#ANSWER 4: SECOND TERM OF ASCII:
# Alphabet Pyramid

n = 4  # number of rows

for i in range(1, n + 1):
    for j in range(65, 65 + i):  # ASCII 65 = 'A'
        print(chr(j), end=" ")
    print()  # new line

A
A B
A B C
A B C D

In [7]:
#ANSWER 5:
# Number Pyramid

rows = 4  # number of lines
for i in range(1, rows+1):
    numbers = " ".join(str(j) for j in range(1, i+1))
    print(numbers.center(rows*2))

   1
  1 2
 1 2 3
1 2 3 4

In [8]:
#ANSWER 6:
# Reverse Number Pyramid

n = 4  # number of rows
for i in range(n):
    numbers = " ".join(str(j) for j in range(5, 5 - (n - i), -1))
    print(numbers.rjust(n*2))

 5 4 3 2
   5 4 3
     5 4
       5

In [9]:
#ANSWER 7:
rows = 4  # number of lines
for i in range(1, rows+1):
    stars = " ".join("*" for _ in range(i))
    print(stars.center(rows*2))

   *
  * *
 * * *
* * * *

In [10]:
#ANSWER 8:
rows = 4  # number of lines
for i in range(rows):
    stars = " ".join("*" for _ in range(2*i + 1))  # odd count
    print(stars.center(rows*4))

       *
     * * *
   * * * * *
 * * * * * * *

In [11]:
#ANSWER 9:
rows = 4  # number of lines
for i in range(rows):
    numbers = " ".join(str(j) for j in range(1, 2*i + 2))
    print(numbers.center(rows*4))

       1
     1 2 3
   1 2 3 4 5
 1 2 3 4 5 6 7

In [12]:
#ANSWER 10:
n = 4  # number of rows

ch = 65  # ASCII value of 'A'

for i in range(n):
    # print alphabets up to (2*i + 1) letters
    for j in range(2 * i + 1):
        print(chr(ch + j), end=" ")
    print()

A
A B C
A B C D E
A B C D E F G

In [13]:
# ANSWER 11:
def pascal_triangle(n):
    for line in range(n):
        num = 1
        for i in range(line + 1):
            print(num, end=" ")
            num = num * (line - i) // (i + 1)
        print()

# print first 6 rows
pascal_triangle(6)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

In [3]:
#ANSWER 12:
def factorial(n):
    if n == 1:
        print("1", end="")
        return 1
    print(n, end=" * ")
    return n * factorial(n - 1)

# num = int(input("Enter a number: "))
# print(f"\n{num}! = ", end="")
x=4
result = factorial(x)
print(result)

4 * 3 * 2 * 124

In [ ]:
#ANSWER 13:
n = 5

for i in range(1, n + 1):
    # left side (increasing numbers)
    for j in range(i, n + 1):
        print(j, end=" ")

    # right side (decreasing numbers)
    for j in range(n - 1, i - 1, -1):
        print(j, end=" ")

    print()

1 2 3 4 5 4 3 2 1
2 3 4 5 4 3 2
3 4 5 4 3
4 5 4
5

In [ ]:
#ANSWER 14:
n = 5

for i in range(1, n + 1):
    # increasing part
    for j in range(1, i + 1):
        print(j, end=" ")
    # decreasing part
    for j in range(i - 1, 0, -1):
        print(j, end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#conditional statement:

number = int(input("no."))
if number > 0:
    print('positive number')
elif number < 0:
    print('negativ number')
else:
    print('zero')

no.10
positive number

In [ ]:
#TRIANGLE STATEMENT:
def triangle_type(a, b, c):
    # Check if valid triangle
    if a + b <= c or a + c <= b or b + c <= a:
        return "Not a valid triangle"

    # Equilateral
    if a == b == c:
        return "Equilateral Triangle"

    # Isosceles
    elif a == b or b == c or a == c:
        return "Isosceles Triangle"

    # Scalene
    else:
        return "Scalene Triangle"


# Example
a, b, c = map(int, input("Enter 3 sides of a triangle: ").split())
print("Triangle type:", triangle_type(a, b, c))

Enter 3 sides of a triangle: 5 5 5
Triangle type: Equilateral Triangle

In [18]:
#QUESTION 1- write a python programme to insert the missing value in given dataset; using loop and conditional statement:
		#x:[5,7,8,9, ,1]


data = [5, 7, 8, 9, None, 1]
total = 0
count = 0
for value in data:
    if value is not None:
        total += value
        count += 1

mean = total / count


for i in range(len(data)):
    if data[i] is None: 
        data[i] = mean

print(data)

[5, 7, 8, 9, 6.0, 1]