In [ ]:
#Write a python prog. too print a table from 2 to 20
def print_tables(start, end):
    for i in range(start, end + 1):
        print(f"Table of {i}")
        for j in range(1, 11):
            print(f"{i} x {j} = {i*j}")
        print()

print_tables(2, 20)

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Table of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Table of 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

Table of 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

Table of 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

Table of 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

Table of 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

Table of 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

Table of 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

Table of 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

In [8]:
#Write a python prog. to print 1a,1b,1c,2a,2b,2c,3a,3b,3c,4a,4b,4c using for loop

for i in range(1, 5): 
    for ch in ['a', 'b', 'c']: 
        print(f"{i}{ch}", end=',')

1a,1b,1c,2a,2b,2c,3a,3b,3c,4a,4b,4c,

In [3]:
# Print all possible combination of outcomes for 2 dice-roll fair and unfiar
print("Fair Dice Possible Outcomes:")
for die1 in range(1, 7):
    for die2 in range(1, 7):
        print((die1, die2))

print("\nUnfair Dice Possible Outcomes:")
unfair_die1_faces = [1, 2, 3, 4, 5, 6]
unfair_die2_faces = [2, 4, 6, 8]
for die1 in unfair_die1_faces:
    for die2 in unfair_die2_faces:
        print((die1, die2))

Fair Dice Possible Outcomes:
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(4, 1)
(4, 2)
(4, 3)
(4, 4)
(4, 5)
(4, 6)
(5, 1)
(5, 2)
(5, 3)
(5, 4)
(5, 5)
(5, 6)
(6, 1)
(6, 2)
(6, 3)
(6, 4)
(6, 5)
(6, 6)

Unfair Dice Possible Outcomes:
(1, 2)
(1, 4)
(1, 6)
(1, 8)
(2, 2)
(2, 4)
(2, 6)
(2, 8)
(3, 2)
(3, 4)
(3, 6)
(3, 8)
(4, 2)
(4, 4)
(4, 6)
(4, 8)
(5, 2)
(5, 4)
(5, 6)
(5, 8)
(6, 2)
(6, 4)
(6, 6)
(6, 8)

In [7]:
# Print A,A b, A B C, A B C D Pyramid
n = 5 
for i in range(1, n + 1):
    char = 'A'
    for j in range(i):
        print(char, end=' ')
        char = chr(ord(char) + 1)
    print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
# Print 1 ,1 2,1 2 3, 1 2 3 4, 1 2 3 4 5 pyramid 
n = 5 
for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
# Print 5432,543,54,5 pyramid
numbers = ["5432", "543", "54", "5"]
max_width = len(numbers[0])

for num in numbers:
    print(num.rjust(max_width))

5432
 543
  54
   5

In [ ]:
total = 0
num = int(input("Enter a number: and 0 or 9 to quit "))
while num != 0 and num != 9:
  total += num
  num = int(input("Enter a number(0 or 9 to stop): ")) 

print(f"sum of entered numbers: {total}")

sum of entered numbers: 65

In [10]:
num = 564
sum = 0

while num > 0:
    y = num%10
    sum += y
    num = num//10
print(sum)

15